---
import TetShopSimple from '../components/TetShopSimple.jsx';
// import TetShop from '../components/TetShop.jsx';
---

<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Cửa Hàng Phụ Kiện - XuanStudio</title>
    
    <!-- Load Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Thử version đơn giản hơn -->
    <TetShopSimple client:load />
    <!-- <TetShop client:load /> -->
    
    <script>
      console.log('Shop page with simple component loaded');
    </script>
  </body>
</html>